<h1>Create Movie Rating</h1>
<form action="/ratings" method="post">
	<div>
		<label>Title:</label>
		<select name="rating[movie_id]" class="form-control">
			<option></option>
			<% @movies.each do |movie| %>
			<option value="<%= movie.id %>"><%= movie.title%></option>
			<% end %>
		</select>
	</div>
	<div>
		<label>Rating:</label>
		<select name="rating[rating_id]" class="form-control">
			<option></option>
			<option>Masterpiece</option>
			<option>Excellent</option>
			<option>Very Good</option>
			<option>Good</option>
			<option>Not Bad</option>
			<option>Meh</option>
			<option>Nice Try, But No Cigar</option>
			<option>Bad</option>
			<option>Awful</option>
			<option>Do Not Want</option>
			<% end %>
		</select>
	</div>
	<input type="submit" value="Create" lass="btn btn-primary">
</form>
<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<div><%= e %></div>
	<% end %>
<% end %>